DOCS/
PROGRESS/
IGNORE/

# Frontend
src/frontend/node_modules/
src/frontend/package-lock.json

# Backend
src/frontend/.env
src/frontend/.env.local

# Environment variables (general)
.env
.env.local
*.env
